<nav class="container px-5 py-3 mx-auto flex justify-between items-center">
  <div class="logo flex gap-4 items-center">
    <img
      src="logo-3.jfif"
      width="60"
      class="rounded-full"
      alt="Quiz App Logo"
    />
    <h2 class="text-2xl font-bold">
      Exam <span class="text-green-600">System</span>
    </h2>
  </div>
  <div class="actions">
    <a
      href="#"
      class="bg-green-600 w-[90px] text-center block py-2 text-lg text-white rounded-md hover:bg-green-700 transition-all"
      >Login</a
    >
  </div>
</nav>
