.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    background-color: inherit;
    border-radius: 12px;
    padding: 1rem;
    box-sizing: border-box;
}

/* Legend Styling */
::ng-deep .legend-items {
    display: flex !important;
    flex-wrap: wrap;
    background-color: inherit !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

}

::ng-deep .legend-title {
    display: none;
}

::ng-deep .legend-labels {
    background-color: inherit !important;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}




