<main
  class="flex justify-center h-[calc(100vh-theme(spacing.40))] items-center"
>
  <div class="content text-center">
    <h1 class="text-5xl font-bold">
      Learn 10x <span class="text-green-600">Faster</span>
    </h1>
    <p class="my-4 text-gray-500 text-lg">
      Unlock Your Potential with Personalized Exams
    </p>
    <div class="actions mt-4">
      <a
        href="#"
        (click)="handleGetStartedClick($event)"
        class="bg-green-600 block w-[180px] mx-auto py-3 px-4 text-lg text-white rounded-md hover:bg-green-700 transition-all"
      >
        Get Started Now!
      </a>
    </div>
  </div>
</main>
